body{
  /* padding: 10px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 
}

a {
  color: #00B7FF;
}

.nav-pills{
  
  background-color: #0095FF;
  padding: 20px;
}

/* .slider{
  width: 85%;
  margin: auto;
  margin-right: auto;
  padding-top: 4%;
  padding-bottom: 3%;
} */

.ribbon{
  background-color: #0051A6;
  text-align: center;
  color: white;
  padding:20px;
}

.info{
  margin: auto;
  text-align: center;
  width: 80%;
  padding: 30px;
}

.programs{
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  width: 90%;
  padding-bottom: 40px;
}

.card{
  box-shadow: 3px 3px 10px #b2aea9;
}
.card-img-top{
  height: 100%;
}
.card-body{
 background-color:#0094E8;
}

.img-responsive{
  display: block;
  height: auto;
  max-width: 100%;
  margin: auto;
  box-shadow: 3px 3px 10px #b2aea9;
}